extends layout

block content
  h1= title
  p Welcome to #{title}

  



    form(id="mascota" action="" method="post")
        input(type="text", name="mimascota", value="", placeholder="Cual es tu mascota preferida")
     
        input(type="submit" value="Conectar")