doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='css/main.css')
  body
   
    
   

     block content
     ul
        li: a(href='/app1/control') Pagina control estado app1 
        li: a(href='/app1/users') Pagina login usuario app1
        li: a(href='/app1/') inicio app1
        li: a(href='/app2/control') Pagina control estado app2
        li: a(href='/app2/users') Pagina login usuario app2
        li: a(href='/app2/') inicio app2